/*----------------LINEA VERTICAL----------------------*/
.v-line {
  border-left: thick inset #d8f3dc;
  height: 50px;
  width: 50px;
  justify-self: flex-start;
  margin-left: 75%;
}
@media screen and (max-width: 768px) {
  .v-line {
    display: none;
  }
}

.v-line-sobremi {
  border-left: thick inset #d8f3dc;
  height: 50px;
  width: 50px;
  justify-self: flex-end;
  margin-left: 30%;
}
@media screen and (max-width: 768px) {
  .v-line-sobremi {
    display: none;
  }
}

.v-line_Contacto {
  border-left: thick inset #d8f3dc;
  height: 50px;
  width: 50px;
  justify-items: flex-end;
  margin-left: 41%;
}
@media screen and (max-width: 768px) {
  .v-line_Contacto {
    display: none;
  }
}

.v-line_Portfolio {
  display: none;
}

.nav_ul {
  margin-left: 6%;
  align-content: start;
}
.nav_ul_vertical {
  list-style-type: none;
  padding: 40px;
}
@media screen and (max-width: 480px) {
  .nav_ul {
    margin-left: 0%;
  }
}

/* ---------------animacion redes sociales --------------------- */
.icon:hover i {
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
.nav_vertical_portfo {
  margin-left: 5%;
  align-content: start;
}

@media screen and (max-width: 778px) {
  .barra_mediagrid {
    display: inline;
    width: 778px;
    margin-left: 0%;
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .barra_mediagrid {
    display: inline;
    width: 320px;
    padding: 10px;
  }
}

.navbar_propio {
  background-color: #d8f3dc;
}
.navbar_propio_tipo {
  font-family: "Inter", sans-serif;
  color: #2d3436;
  font-size: 28px;
  padding: 60px;
}
@media screen and (max-width: 480px) {
  .navbar_propio_tipo {
    font-size: 15px;
    font-weight: bold;
    padding-right: 70px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .navbar_propio {
    width: 750px;
  }
}
@media screen and (max-width: 480px) {
  .navbar_propio {
    width: 460px;
  }
}
@media screen and (max-width: 360px) {
  .navbar_propio {
    width: 350px;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .img_Logo {
    width: 50%;
    height: 50%;
  }
}

.sobremi_imagen {
  align-items: center;
}
@media screen and (max-width: 768px) {
  .sobremi_imagen {
    place-items: center;
  }
}
@media screen and (max-width: 480px) {
  .sobremi_imagen {
    width: 320px;
    height: 300px;
    padding-left: 20%;
  }
}

h3 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 28px;
  color: #2d3436;
  text-align: center;
  padding-top: 200px;
}
@media screen and (max-width: 768px) {
  h3 {
    text-align: center;
    font-size: 22px;
    padding-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  h3 {
    text-align: center;
    font-size: 18px;
    padding-left: 20%;
    padding-top: 5px;
  }
}

.content1_contacto {
  align-items: center;
  background-color: #52b788;
  padding: 20PX;
  font-family: "Libre Franklin", sans-serif;
}
@media screen and (max-width: 480px) {
  .content1_contacto {
    margin-top: 35px;
  }
}

.btn_propio {
  background-color: #1b4332;
  font-family: "Libre Franklin", sans-serif;
  font-size: 25px;
  color: antiquewhite;
  border: #1b4332;
  padding: 5px;
}
.btn_propio:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  transition: all 1s ease;
  background: rgba(255, 255, 255, 0.1);
}
.btn_propio:hover:before {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .form_Propio {
    margin-left: 50px;
  }
}

.portfo_1 {
  justify-self: center;
  justify-items: center;
  align-items: center;
  padding-left: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
}

@media screen and (max-width: 360px) {
  .iframe_MediaQuerie {
    width: 340px;
    height: 202px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf6f9;
}

/*--------------------GRID---------------------------*/
.grid {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 0.1fr, 1fr, 1fr;
  grid-template-rows: 0, 3fr, 1fr, 1fr, 1fr;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: "header header header" "vline content1 content2" "nav_ver content1 content2" "footer footer footer";
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 5, 1fr;
    row-gap: 5px;
    grid-template-areas: " header" "nav_ver " "content1" "content2" "footer";
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 0.5fr;
    row-gap: 1.5%;
  }
}
@media screen and (max-width: 360px) {
  .grid {
    grid-template-columns: 0.5fr;
  }
}
.grid_header {
  background-color: #d8f3dc;
  grid-area: header;
  align-self: flex-start;
}
@media screen and (max-width: 360px) {
  .grid_header {
    width: 360px;
  }
}
.grid_vline {
  grid-area: vline;
}
.grid_content1 {
  grid-area: content1;
}
@media screen and (max-width: 1023px) {
  .grid_content1 {
    place-items: center;
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .grid_content1 {
    padding: 110px;
  }
}
@media screen and (max-width: 480px) {
  .grid_content1 {
    place-items: left;
    padding-left: 0cm;
  }
}
@media screen and (max-width: 360px) {
  .grid_content1 {
    width: 350px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.grid_content2 {
  grid-area: content2;
}
@media screen and (max-width: 1023px) {
  .grid_content2 {
    place-items: center;
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .grid_content2 {
    padding: 110px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .grid_content2 {
    place-items: left;
    padding-left: 0cm;
  }
}
@media screen and (max-width: 360px) {
  .grid_content2 {
    width: 350px;
  }
}
.grid_nav_ver {
  grid-area: nav_ver;
}
@media screen and (max-width: 480px) {
  .grid_nav_ver {
    height: 30px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 360px) {
  .grid_nav_ver {
    width: 360px;
  }
}
.grid_footer {
  grid-area: footer;
}
@media screen and (max-width: 778px) {
  .grid_footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .grid_footer {
    bottom: 0px;
    width: 360px;
  }
}

footer {
  background-color: #d8f3dc;
}
footer h2 {
  font-family: "Inter", sans-serif;
  text-align: end;
  color: #2d3436;
  padding-top: 1rem;
  padding-right: 3rem;
}
@media screen and (max-width: 778px) {
  footer h2 {
    font-size: 18px;
    text-align: center;
  }
}

.footerLink {
  text-decoration-line: none;
}

/*------------------------- Video Fondo--------------------------*/
.Video__Fondo {
  position: fixed;
  min-width: 100%;
  min-height: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.h1_index {
  font-family: "Libre Franklin", sans-serif;
  font-size: 180px;
  text-align: right;
  color: antiquewhite;
  padding-top: 40px;
}
@media screen and (max-width: 778px) {
  .h1_index {
    font-size: 85px;
  }
}
@media screen and (max-width: 480px) {
  .h1_index {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
