@import "base/variables";
@import "components/barravertical";
@import "components/header-sobremi";
@import "components/contacto-portfo";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #edf6f9;
}
/*--------------------GRID---------------------------*/

.grid{
    display: grid;
    justify-items: stretch;
    grid-template-columns: 0.3fr,1fr,1fr;
    grid-template-rows: 0,3fr,1fr,1fr,1fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
    "header header header"
    "vline content1 content2"
    "nav_ver content1 content2"
    "footer footer footer";
    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat (5,1fr);
        row-gap: 5px;
        grid-template-areas: 
        " header"
        "nav_ver "
        "content1"
        "content2"
        "footer";
        
    }

    &_header{
        background-color:$bg-principal;
        grid-area: header;
      align-self: flex-start;
    }
    &_vline{
        
        grid-area: vline;
        

    }
    &_content1{
        
        grid-area: content1;
        @media screen and (max-width:1023px) {
            place-items: center;
            padding: 50px;
            
        }
              

    }
    &_content2{
        
        grid-area: content2;
        @media screen and (max-width:1023px) {
            place-items: center;
            padding: 50px;
            
        }
    }
    &_nav_ver{
        
        grid-area: nav_ver;
        
        
    }
    &_footer{
        
        grid-area: footer;
        @media screen and (max-width:778px) {
            position: fixed;
            bottom: 0px;
            width: 100%;
            
        }
        @media screen and (max-width:576px) {
            bottom: 0px;
            width: 100%;
            
        }

    }
}

footer{
    background-color: $bg-principal;
    
    h2{
        font-family: $font-principal;
        text-align: end;
        color: #2d3436;
        padding-top: 1rem;
        padding-right: 3rem;
        @media screen and (max-width:778px) {
            font-size: 18px;
            text-align: center;
        }
       
    }

}

.footerLink{
    text-decoration-line: none;
}

/*------------------------- Video Fondo--------------------------*/
.Video__Fondo {
    position: fixed;
    min-width: 100%;
    min-height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
  
.h1_index{
    font-family: $font-sec;
    font-size: 180px;
    text-align: right;
    color: antiquewhite;
    padding-top: 40px;
    @media screen and (max-width:778px) {
        font-size: 100px;
        
    }
}
