.content1_contacto{
    align-items: center;
    background-color: #52b788;
    
}

.btn_propio{
    
}

.portfo_1{
    justify-items: center;
    padding-left: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    
    
}