.content1_contacto{
    align-items: center;
    background-color: #52b788;
    padding: 20PX;
    font-family: $font-sec;
    
    
}

.btn_propio{
    background-color: #1b4332;
    font-family: $font-sec;
    font-size: 25px;
    color: antiquewhite;
    border: #1b4332;
    padding: 5px;
    &:before {
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 100%;
        transition: all 1s ease;
        background: rgba(255, 255, 255, 0.1);;
      }
    &:hover:before {
      width: 100%;
      }
    
}

.portfo_1{
    justify-self: center;
    justify-items: center;
    align-items: center;
    padding-left: 70px;
    padding-bottom: 30px;
    padding-top: 30px;

      
}

.iframe_MediaQuerie{
  @media screen and (max-width:460px) {
    width: 40%;
    height: 70%;
    
  }
}